
Minecraft/Library/*
Minecraft/ProjectSettings/*
Minecraft/Temp/*
Minecraft/Logs/*
Minecraft/Packages/*
Minecraft/obj/*

Builds/*

Minecraft/Unity.*

Minecraft/Minecraft.csproj

Minecraft/.vs/*
Minecraft/Minecraft.sln
Minecraft/Assembly-CSharp.csproj

Audio/*

